aws_region         = "ap-northeast-2"
project_name       = "wepick"
environment        = "prod"
instance_type      = "t4g.small"
vpc_cidr           = "10.0.0.0/16"
public_subnet_cidr = "10.0.1.0/24"
domain_name        = "your-domain.com"
